<div class="contact-page">
    <div class="text-wrapper">
      <p class="text">MULIAS GARMENTS TRADING LLC</p>
      <p class="text">For any additional info, you may contact us</p>
      <p class="text">info@mulias.com</p>
      <p class="text">Customer Service: +225 0777764538 / +971 566142808</p>
      <p class="text">All queries via email will be replied within 24 hours during <br class="xs-hide"/> our working hours. Please note that during peak times,<br class="xs-hide"/> there may be some delay.</p>
      <p class="text">P.O. Box: 124401 Aspin Commercial Tower 20th Floor Sheikh Zayed Dubai, U.A.E</p>
      <h6 class="title">DO NOT SEND ANY RETURNS TO THIS ADDRESS</h6>
    </div>
    <div class="contact-fom-wrapper">
      {% form 'contact' %}

      {% if form.posted_successfully? %}
        <p class="note form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}
  
      {{ form.errors | default_errors }}
  
      {% assign name_attr = 'contact.form.name' | t | handle %}
      <input type="text"  name="contact[first_name]" id="first-name" placeholder="First Name" autocapitalize="words">
      <input type="text" name="contact[last_name]" id="last-name"  placeholder="Last Name"/>
      <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
      <input type="text" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="Country">{% if form.body %}{{ form.body }}{% endif %}
      <input type="submit" class="btn right" value="Submit">
    {% endform %}
    </div>
</div>

      
     