<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {%- capture cfh -%}
      {{ content_for_header}}
    {%- endcapture -%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Yeseva+One&display=swap">
    {% render 'head' cfh:cfh %}
  </head>
  <body class="template-{{ template | split: '.' | first }} theme-unload">
    <div class="body-wrapper">
      {% section 'header' %}    
      <div class="main_page">
        <main class="main-content main-page-{{ template | split: '.' | first }}">
          {{ content_for_layout }}
        </main>
      </div>
      {% section 'footer' %}
      {% section 'footer-scripts' %}
    </div>
  </body>
</html>