<div class="cart-wrapper">
    <div class="container">
        <div class="cart-header">
            <div class="cnt-shoping">
                <a href="../collections/all">
                    < continue shopping</a>
            </div>
            <div class="empty-cart">
                <a>empty cart</a>
            </div>
        </div>
        <div class="cart-items-wrapper">
            <script class="cart-json">{ { cart | json } }</script>
            {% for item in cart.items %}
            <div class="cart-item">
                <div class="cart-tem-image">
                    <a href="{{ item.url | within: collections.all }}" class="cart__image">

                        {% comment %}
                        More image size options at:
                        - http://docs.shopify.com/themes/filters/product-img-url
                        {% endcomment %}
                        {%- render 'srcset',src_name:item.image,src_alt:item.title ,src_class:'product-image' -%}

                    </a>
                    <a href="{{ item.url | within: collections.all }}" class="cart-title">
                        <h3>{{item.product_title}}</h3>
                    </a>
                </div>
                <div class="cart-item-details">
                    <p class="item-size">size : {%- for option in item.options_with_values -%}
                        {% if option.name == "Size" %}
                        {{option.value}}
                        {% endif %}
                        {%- endfor -%} </p>
                    <p class="cart-quantity">QTY {{item.quantity}}</p>
                    <p>Price :{{item.price | money_with_currency}}</p>
                </div>
                <div class="cart-action-button">
                    <div class="cart-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/plus-svgrepo-com.svg?v=1641497698"
                            class="icon-img" alt="cart-plus">
                    </div>
                    <div class="cart-minus">
                        <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/minus-svgrepo-com.svg?v=1641497687"
                            class="icon-img" alt="cart-minus">
                    </div>
                    <div class="cart-remove">
                        <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/cancel-svgrepo-com.svg?v=1641497674"
                            class="icon-img" alt="cart-remove">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>