<div class="about-page">
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/beach-overhead.1484b6ab.png?v=1641927684" alt="{{section.settings.about_img.alt}}"/>
</div>
    <div class="about-page-wrapper">
    
        <div class="text-wrapper">
            <h1 class="title">{{section.settings.title}}</h1>
            <div class="about-des">
                {{section.settings.description}}
                <div class="btn-wrapper">
                    <a class="btn  about-btn" href="{{section.settings.about_url}}">{{section.settings.about_btn}}</a>
                </div>
            </div>
          
          
        </div>
    </div>
</div>
{% schema %}
{
  "name": "About  page",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Express our story description.</p>"
    },
   {
    "type": "text",
    "id": "about_btn",
    "label": "Button label"
  },
   {
    "type": "url",
    "id": "about_url",
    "label": "Url for button"
  }
  ]
}
{% endschema %}