<!-- small-header -->
<div class="container-fluid">
    <div class="flex-view-xs middle space">
      <div class="col-xs-4">
        <a class="mobile-menu-btn {{template}} {{page.handle}}">
          {%- render 'icons',icon:'mobile-menu',width:20,height:20 -%}
        </a>
      </div>
      <div class="col-xs-4">
        <div class="site-logo text-center">
          <div class="inline-block site-logo-container {{template}} {{ page.handle}}">
            <a href="/" class="image-balck img-logo">
              {% if section.settings.site_logo_black != blank %}
                <img  src="{{section.settings.site_logo_black | img_url: 'large' | format: 'png'}}" alt="{{shop.name}}">
              {% else %}
                <h6>{{shop.name}}</h6>
              {% endif %}
            </a>
            {% if template == "collection" or template == "index" or page.handle == "about" or page.handle == "terms-and-conditions" %}
            <a href="/" class="image-white active img-logo">
              {% if section.settings.site_logo != blank %}
                <img  src="{{section.settings.site_logo | img_url: 'large' | format: 'png'}}" alt="{{shop.name}}">
              {% else %}
                <h6>{{shop.name}}</h6>
              {% endif %}
            </a>
            {% endif %}
           
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-right mobile-right">
          <a class="side-cart cart" href="/cart">
            <span class="cart-count">{{cart.item_count}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>